header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.right{
    margin: 10px;
    margin-top: 40px;
}
 .right a{
    background-color: #009579;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin: 10px;
 }

 header img{
    width: 200px;
    top: 10;
    margin-top: -50px;
 }

 .right span{
    font-weight: bold;
    color: #009579;
    font-family: 'Times New Roman', Times, serif;
 }